.head{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;

    color: aliceblue;
padding-top: 10px;
    background-color: rgb(56, 105, 241);

    text-align: center;
}

body{
    margin: 0px;

    background-color: rgb(87, 118, 201);
}

button{
    
    font-size: larger;
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.btn{
    margin-left: 45%;
    
    /* margin-top: 10%; */
}

.txt
{
    margin-left: 45%;
    color: aliceblue;
}